# Configuración de Servidor Express
PORT=3001
NODE_ENV="production"

# Configuración de Base de Datos PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/obstetrapp_db?schema=public"

# Orígenes Permitidos por CORS (Separados por coma)
CORS_ORIGIN="http://localhost:3000,http://localhost:5173"

# Clave Secreta para Firmar Tokens JWT (REQUERIDA EN PRODUCCIÓN)
JWT_SECRET="ingresa_aqui_una_clave_secreta_larga_y_aleatoria_para_jwt"
