# URL Base de la API Backend
VITE_API_URL="http://localhost:3001/api"

# Configuración Predeterminada de Médicos
VITE_DOCTOR_NAME="Dr. Obstetra"
VITE_DOCTOR_SPECIALTY="Ginecología y Obstetricia"
VITE_DOCTOR_SUBTITLE="Especialista en Ecografía General, Ginecológica y Obstetricia"
VITE_DOCTOR_LICENSE="Rg. Prof. 00000"
VITE_CLINIC_NAME="Atención Médica Integral"
VITE_CLINIC_LOCATION="Asunción, Paraguay"
